
:root{
    /* colors */
    --color-text:#fff;
    --color-primary:#F37199;
    --color-secondary:#C8ACD6;
    --color-dark:#17153B;
    --color-bg:#33313f;

    /* Fonts */
    --font-robot:"Roboto";

}